<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ECommerce API Documentation</title>

<script src="https://cdn.tailwindcss.com"></script>
<style>
    body {
        padding-top: 50px;
    }
</style>